<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>公共页面</title>
</head>
<body>

    <nav id="nav" class="gird-header"  th:fragment="head">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <a th:href="@{/}">
                    <h2 class="ui olive header item" style="font-family: STSong">大站快车客流分析系统</h2>
                </a>
                <div class="right m-item item" th:align="right" >
                    <div class="right m-item m-mobile-hide menu" th:if="${user == null}">
                        <div class="ui dropdown  item">
                            <div class="text">
                                <a th:href="@{/toLogin}">
                                    <span>
                                        <i class="user icon"></i> 登录
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right m-item m-mobile-hide menu" th:if="${user != null}">
                        <div class="ui dropdown  item">
                            <div class="text" th:object="${user}">
                                <a >欢迎您：<span th:text="${user.username}"></span></a>
                                <a th:href="@{/admin/index/{username}/(username=${user.username})}"><span><i class="arrow circle right icon"></i> 进入后台</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show"></a>
    </nav>
</body>
</html>
