<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head >
    <meta name="baidu-site-verification" content="U67Xy1Qfos"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet"  th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet"  th:href="@{/css/me.css}">
</head>
<body>

    <nav th:replace="common::head"></nav>
    <br>
    <h2>
    <br>
    <br>
    <br>
    <image src="/image/2.jpg" style=" background-size: 100%;no-repeat: center; height: 80%; width: 80%;"></image>


</body>

<script  th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script  th:src="@{/semantic/semantic.min.js}"></script>
<script  th:src="@{/qrcode/qrcode.min.js}"></script>
<script  th:src="@{/prism/prism.js}"></script>
<script  th:src="@{/tocbot/tocbot.min.js}"></script>
<script  th:src="@{/waypoints/jquery.waypoints.min.js}"></script>
<script  th:src="@{/waypoints/jquery.waypoints.js}"></script>


</html>
