<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet"  th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet"  th:href="@{/css/me.css}">

</head>
<body>

<!--导航栏-->
<nav th:replace="admin/admin-common::head"></nav>
<div style="padding: 100px">
    <div style="padding: 200px; align-content: center; border:20px">
        <form class="layui-form" th:object="${updateUser}">
            <input type="hidden" th:field="*{userId}">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名:</label>
                <div class="layui-input-block">
                    <input type="text" th:field="*{userName}" name="username" required="required"  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">电子邮箱:</label>
                <div class="layui-input-block">
                    <input type="text" th:field="*{email}" name="email" required="required"  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">电话号码:</label>
                <div class="layui-input-block">
                    <input type="text" th:field="*{phone}" name="phone" required="required"  placeholder="请电话号码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">性别:</label>
                <div class="layui-input-block">
                    <input type="radio"  th:field="*{gender}" value="0" title="男" >
                    <input type="radio"  th:field="*{gender}" value="1" title="女" >
                    <input type="radio"  th:field="*{gender}" value="2" title="保密" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否管理员:</label>
                <div class="layui-input-block">
                    <input type="radio"  th:field="*{adminFlag}" value="Y" title="是" >
                    <input type="radio"  th:field="*{adminFlag}" value="N" title="否" >
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="btn-submit" class="layui-btn" lay-submit lay-filter="editemp-filter">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/jq-module/jquery.particleground.min.js}" charset="utf-8"></script>
<script  th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script  th:src="@{/semantic/semantic.min.js}"></script>

<script th:inline="javascript">
    // var ctxPath=[[@{/}]];
    var ctxPath = /*[[@{/}]]*/'';
    //日期设置
    layui.use(['laydate','table','form'], function(){
        var laydate = layui.laydate;
        var table = layui.table;
        var form = layui.form;

        laydate.render({
            elem: '#hireDate' //指定元素
            ,calendar: true //显示节日
        });

        //监听提交
        form.on('submit(editemp-filter)', function(data){
            console.log(data.id)
            $("#btn-submit").attr("disabled", "disabled").addClass("layui-btn-disabled");
            //异步提交请求
            var url ="/admin/user/editUser";
            $.post(url,data.field,function(response){
                if(response.code == 0){
                    layer.msg(response.message,{icon:6,time:2000}, function () {
                    top.location.href='/admin/user-list'
                    });
                }
                else {
                    $("#btn-submit").removeAttr("disabled", "disabled").removeClass("layui-btn-disabled");
                    layer.alert(response.message,{icon:5,anim:6});
                    top.location.href='/admin/user-list'
                }
            });
            return false;
        });

    });
</script>
</body>
</html>
