<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link  th:href="@{/images/11.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet"  th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet"  th:href="@{/css/me.css}">

</head>
<body>

<!--导航栏-->
<nav th:replace="admin/admin-common::head"></nav>
<div style="padding: 100px">
    <div style="padding: 200px; align-content: center; border:20px">
        <div id="container" class="ui large form" onsubmit=" return false">
            <div class="admin-login-background">
                <div class="layui-form login-form" >
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名:</label>
                            <div class="layui-input-block">
                                <input type="text" name="userName" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" onblur="checkUsername()"
                                       class="layui-input">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">电话号码:</label>
                            <div class="layui-input-block">
                                <input type="text" name="phone" required  lay-verify="required" placeholder="请电话号码" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱:</label>
                            <div class="layui-input-block">
                                <input type="text" name="email" required  lay-verify="required" placeholder="请电话号码" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label ">性别:</label>
                            <div class="layui-input-block">
                                <input type="radio" name="gender" value="0" title="男" checked="">
                                <input type="radio" name="gender" value="1" title="女">
                                <input type="radio" name="gender" value="2" title="保密">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label ">是否管理员:</label>
                            <div class="layui-input-block">
                                <input type="radio" name="adminFlag" value="Y" title="是">
                                <input type="radio" name="adminFlag" value="N" title="否" checked="">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button id="btn-submit" class="layui-btn" lay-submit lay-filter="addStudent-filter">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/jq-module/jquery.particleground.min.js}" charset="utf-8"></script>
<script  th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script  th:src="@{/semantic/semantic.min.js}"></script>


<script th:inline="javascript">
    var ctxPath = /*[[@{/}]]*/'';
        function checkUsername() {
            var username = $("input[name='userName']").val();
            $.get("/admin/user/checkUsername/" + username, function (data) {
                if (!data.data) {
                    layer.msg("用户已存在！");
                    $("#btn-submit").addClass("layui-btn-disabled");
                } else {
                    $("#btn-submit").removeClass("layui-btn-disabled");
                }
            });
        }
        //日期设置
        layui.use(['laydate','table','form'], function(){
            var laydate = layui.laydate;
            var table = layui.table;
            var form = layui.form;
            // var $=layui.$;

            laydate.render({
                elem:'[name="first"]'    //指定元素
            });
            laydate.render({
                elem: '#hireDate' //指定元素
                ,calendar: true //显示节日
            });

            //监听提交
            form.on('submit(addStudent-filter)', function(data){
                $("#btn-submit").attr("disabled", "disabled").addClass("layui-btn-disabled");
                //异步提交请求
                var url = "/admin/user/addUser";
                $.post(url,data.field,function(response){
                    if(response.code == 0){
                        layer.msg(response.message,{icon:6,time:2000}, function () {
                           top.location.href='/admin/user-list'
                        });
                    } else {
                        $("#btn-submit").removeAttr("disabled", "disabled").removeClass("layui-btn-disabled");
                        layer.msg("邮箱已被占用",{icon:5,anim:6});
                    }
                });
                return false;
            });

        });
    </script>

</body>
</html>
