<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理</title>
    <meta charset="UTF-8">
    <link  th:href="@{/images/11.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet"  th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet"  th:href="@{/css/me.css}">
    <style>

        .div-content{
            height: 200px;
            background-color:white;
            border-radius: 5px;
        }
        .table-search-fieldset{
            margin: 0;
            border: 1px solid #e6e6e6;
            padding:10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>
<body>

<!--导航栏-->
<nav th:replace="admin/admin-common::head"></nav>

<div style="padding: 100px">
    <div style="padding: 200px; align-content: center;">
        <div class="div-content">
            <form class="layui-form layui-form-pane" action="">
                <fieldset class="table-search-fieldset">
                    <legend>搜索条件</legend>

                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline" style="width: 180px;">
                                <input type="text" name="name" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button id="btn-search" lay-submit lay-filter="btn-search-filter" class="layui-btn layui-btn-radius layui-btn-normal">
                                <i class="layui-icon layui-icon-search"></i>
                                查询</button>
                            <button id="btn-reset" type="reset" class="layui-btn layui-btn-radius layui-btn-normal">
                                <i class="layui-icon layui-icon-refresh"></i>
                                查询条件</button>
                        </div>

                    </div>

                </fieldset>
            </form>
            <table id="table-emp" lay-filter="table-emp-filter"></table>
        </div>
    </div>
</div>

<script th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/jq-module/jquery.particleground.min.js}" charset="utf-8"></script>
<script  th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script  th:src="@{/semantic/semantic.min.js}"></script>
<script type="text/javascript" th:src="@{http://libs.baidu.com/jquery/1.8.3/jquery.min.js}"></script>

<script type="text/html" id="convertAdminFlag">
    {{#
    if(d.adminFlag== 'Y'){return '是'}
    if(d.adminFlag=='N'){return '否'}

    }}

</script>
<script type="text/html" id="convertGender">
    {{#
    if(d.gender== 0 ){return '男'}
    if(d.gender== 1){return '女'}
    if(d.gender== 2){return '保密'}
    }}

</script>

<!--表格-->
<script type="text/html" id="tabletoolbar">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm" lay-event="add" th:if="${role}=='ROLE_admin'">添加</a>
        <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete"  th:if="${role}=='ROLE_admin'">批量删除</a>
    </div>
</script>
<!--表格内按钮-->
<script type="text/html" id="bartool">
    <a  class="layui-btn layui-btn-xs " lay-event="edit" th:if="${role}=='ROLE_admin'" > 修改</a>
    <a  class="layui-btn  layui-btn-xs  layui-btn-danger" lay-event="del" th:if="${role}=='ROLE_admin'">删除</a>
</script>


<script th:inline="javascript">
    //刷新表格
    function refreshTable(){
        $("#btn-reset").click();
        $("#btn-search").click();
    }
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    // var ctxPath = /*[[@{/}]]*/'';
    var ctxPath = '';

    //日期设置
    layui.use(['laydate','table','form'], function(){
        var laydate = layui.laydate;
        var table = layui.table;
        var form = layui.form;

        //执行一个laydate实例
        laydate.render({
            elem: '#startDate,#endDate' //指定元素
            ,calendar: true //显示节日
        });

        //表格监听工具栏 添加 批量删除
        table.on('toolbar(table-emp-filter)', function(obj){
            var layer = layui.layer;
            if(obj.event==='add'){
                // layer.open({
                //     type: 2,
                //     titile:'增加用户',
                //     area:['80%','80%'],
                //     content:'/admin/user-add' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                // });
             top.location.href='/admin/user-add'
            }else
            if(obj.event=='delete'){
                var checkStatus = table.checkStatus('table-emp');
                //如果没有选中任何数据
                if(checkStatus.data.length==0){
                    layer.alert("请至少选择一个", {icon: 7,title:"警告"});
                    return false;
                }
                var idArr =new Array();
                $(checkStatus.data).each(function(){
                    idArr.push(this.userId);
                });

                layer.confirm('是否确定删除?', {icon: 3, title:'提示'}, function(index){
                    //异步请求删除 结果提示 刷新表格
                    $.ajax({
                        url: "/admin/user/delUser",
                        type: "POST",
                        data: JSON.stringify({"ids":idArr.join(",")}),
                        contentType: "application/json",
                        resultType: "json",
                        success: function (response) {
                            if(response.code==0){
                                layer.msg(response.message,{icon:7,title:"操作结果"}, function () {
                                    refreshTable();
                                });
                            }

                        },
                    })

                    layer.close(index);
                });
            }
        });




        //员工列表表格渲染
        table.render({
            elem: '#table-emp'
            ,toolbar:"#tabletoolbar"
            ,url: '/admin/user/list' //数据接口
            ,page: false //开启分页
            ,limits :[5,10,20,30,50]
            ,cols: [
                [ //表头
                    {type:"checkbox",width: 60},
                    {field: 'userId', title: '用户ID', width:100, sort: true }
                    ,{field: 'userName', title: '用户名', width:100 ,align:'center'}
                    ,{field: 'gender', title: '性别', width: 100,align:'center' ,templet:"#convertGender"}
                    ,{field: 'email', title: '电子邮箱', align:'center',width:180}
                    ,{field: 'phone', title: '电话号码', align:'center',width:180}
                    ,{field: 'adminFlag', title: '是否管理员', width:180, align:'center',templet: "#convertAdminFlag"}
                    ,{title: '操作',width: 200,toolbar:'#bartool'}
                ]
            ]
        });

        //监听表格上方查询表单提交
        form.on('submit(btn-search-filter)',function(data){
            console.log(data.field);
            //刷新表格
            table.reload('table-emp', {
                where: { //设定异步数据接口的额外参数，任意设
                    name:data.field.name
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            }); //只重载数据
            return false;//阻止跳转。如果需要表单跳转就去掉
        })

        //表格内的 删除更新 事件
        table.on('tool(table-emp-filter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if(layEvent == 'del'){ //删除
                layer.confirm('是否确定删除?'+data.userName, {icon: 3, title:'提示'}, function(index){
                    //异步请求删除 结果提示 刷新表格
                    //异步请求删除 结果提示 刷新表格
                    $.ajax({
                        url: "/admin/user/delUser",
                        type: "POST",
                        data: JSON.stringify({"ids":data.userId}),
                        contentType: "application/json",
                        resultType: "json",
                        success: function (response) {
                            if(response.code==0){
                                layer.msg(response.message,{icon:7,title:"操作结果"}, function () {
                                    refreshTable();
                                });
                            }

                        },
                    })

                    layer.close(index);
                });

            } else if(layEvent == 'edit'){ //编辑
                // layer.open({
                //     type: 2,
                //     titile:'修改员工',
                //     area:['80%','80%'],
                //     content:'/admin/user-edit/'+data.userId
                // });
                top.location.href='/admin/user-edit/'+data.userId

            }
        });


    });

</script>
</body>
</html>
