<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>站点不均衡系数</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" media="all">
    <link rel="stylesheet" th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <style>
        .layui-form-selected dl {
            z-index: 10000;
        }
    </style>
</head>

<body style=" background-color: gainsboro;">

<nav th:replace="admin/admin-common::head"></nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div th:align="center" style="height: 20rem; height: 20rem">
    <div style=" background-color: white; margin:10px 10px;">
        <div id="container" style="min-width:200px;max-width:90%;height:480px"></div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script type="text/javascript" th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/hcharts/highcharts.js}"></script>
<script type="text/javascript" th:src="@{/hcharts/modules/exporting.js}"></script>
<script  th:src="@{/semantic/semantic.min.js}"></script>

<script>
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $(function () {
        var ratio = new Array();
        var stationName = new Array();
        $.post("/admin/station/ratio-refresh", function (data) {
            console.log(data)
            $.each(data, function (index, val) {
                ratio.push(val.ratio);
                stationName.push(val.stationName);
            });
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '站点不均衡系数柱状图'
                },
                subtitle: {
                    text: '数据来源: 大站快车客流分析系统'
                },
                xAxis: {
                    min: 0,
                    categories: stationName,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '站点不均衡系数/天'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}站:</span>' +
                        '<table>',
                    pointFormat:
                        '<tr>' +
                        '<td style="color:{series.color};padding:0"></td>' +
                        '<td style="padding:0"><b>{point.y}</b></td>' +
                        '</tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                },
                series: [{
                    data: ratio,
                    name: "站点不均衡系数",
                    color: '#1162c5'
                }]
            });
        });


    });
</script>
</body>

</html>
