<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>公共页面</title>
</head>
<body>

    <nav id="nav" class="gird-header"  th:fragment="head">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <a th:href="@{/}">
                    <h2 class="ui olive header item" style="font-family: STSong">大站快车客流分析系统</h2>
                </a>
                <a class=" m-item item m-mobile-hide" href="#" style="font-family: STSong"  th:href="@{/admin/user-list}" ><i class="users icon"></i>用户管理</a>
                <a class=" m-item item m-mobile-hide" href="#" style="font-family: STSong"  th:href="@{/admin/station-list}" ><i class="subway icon"></i>站点管理</a>
                <span class="m-item item m-mobile-hide" style="font-family: STSong" >
                    <span class="ui dropdown  item">
                        <i class="sync alternate icon"></i>数据处理
                        <i class="dropdown icon"></i>
                        <span class="menu" style="background: #00a2d4">
                            <a href="#" th:href="@{/admin/to-ratio-page}" class="item"><p style="color: #0e1010">站点不均衡系数</p></a>
                            <a href="#" th:href="@{/admin/to-travel-probability-f1-page}" class="item"><p
                                    style="color: #0e1010">OD出行概率及人数柱状图</p></a>
                        </span>
                    </span>
                </span>
                <div class="right m-item item">


                    <div th:object="${user}">
                        <span class="ui dropdown  item">
                       <span>
                            欢迎您：<span th:text="${user.username}"></span>
                        </span>

                        <i class="dropdown icon"></i>
                        <span class="menu" style="background: #00a2d4">
                            <a href="#" th:href="@{/admin/index/{username}/(username=${user.username})}" class="item">
                                <p style="color: #0e1010">个人信息</p>
                            </a>
                            <a th:href="@{/logout}">
                            <span>
                                <i class="sign-out icon"></i> 退出登录
                            </span>
                        </a>
                        </span>
                    </span>



                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show"></a>
    </nav>
</body>
</html>
