<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet"  th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet"  th:href="@{/css/me.css}">
</head>
<script type="text/javascript">
    function load(){
        window.setInterval('showRealTime(clock)',1000);
    }
</script>

<body οnlοad="load()">

<!--导航栏-->
<nav th:replace="admin/admin-common::head"></nav>
<br>
<br>
<br>

<!--中间内容-->
<div  class="m-padded-tb-massivex">
    <div class="ui container">
        <div class="ui success large  message">
                <div id="currentTime" th:align="center" ></div>
            <ul>
                <li>
                    欢迎您：<span th:text="${user.username}"></span>
                </li>

                <li>
                    祝您使用愉快！！！！！
                </li>
                <li>
                    <a href="#" th:href="@{/admin/self-edit/{username}/(username=${user.username})}" class="item">
                        <p style="color: #0e1010">信息修改</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>




<script  th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script  th:src="@{/semantic/semantic.min.js}"></script>

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
    // 获取当前时间
    Date.prototype.format = function (fmt) {
        var o = {
            "y+": this.getFullYear, //年
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds() //秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    setInterval("document.getElementById('currentTime').innerHTML = (new Date()).format('yyyy-MM-dd hh:mm:ss');", 1000);
</script>
</body>
</html>
