<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet"  th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet"  th:href="@{/css/me.css}">
</head>
<body>
<div id="waypoint" ></div>
<!--导航-->
<nav th:replace="common::head"></nav>


<br>
<br>
<br>

<div class="ui m-opacity m-margin-top-max container">
<img src="/static/images/404.jpg" th:src="@{/images/404.jpg}" alt="" class="ui rounded bordered fluid image">
    <h1 class="h1" style="color: #05ba91" >路径不存在，预计<span id="sec">3</span>秒后自动返回...</h1>
</div>

<div class="m-margin-top-max" align="center">
  <a href="#" th:href="@{/}">
   <button type="button" class="ui teal button m-mobile-wide"><i class="home icon"></i>返回首页</button>
  </a>
</div>

<br>
<br>



</body>


<script  th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script  th:src="@{/semantic/semantic.min.js}"></script>
<script  th:src="@{/qrcode/qrcode.min.js}"></script>
<script  th:src="@{/prism/prism.js}"></script>
<script  th:src="@{/tocbot/tocbot.min.js}"></script>
<script  th:src="@{/waypoints/jquery.waypoints.min.js}"></script>
<script  th:src="@{/waypoints/jquery.waypoints.js}"></script>
<script>
    var index ;
    index = window.setInterval(function () {
        var sec = $("#sec").text();
        if(sec==0){
            window.clearInterval(index);
            window.history.back();
        }else{
            $("#sec").text(--sec);
        }
    },1000);

    new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if ('down' == direction) {
                $('#nav').show(10);
            } else {
                $('#nav').hide(100);
            }
            console.log('Scrolled to waypoint!  ' + direction);
        }
    });
</script>
</html>
