<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>错误</title>
    <link rel="stylesheet"  th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet"  th:href="@{/css/me.css}">
</head>
<body>
<div id="waypoint" ></div>
<!--导航-->
<nav th:replace="common::head"></nav>


<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive">
  <div class="ui error message m-padded-tb-huge" >
    <div class="ui contianer">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <p>对不起，您当前未登录</p>
        <h1 class="h1">系统错误，预计<span id="sec">3</span>秒后自动返回...</h1>
    </div>
  </div>
</div>
<div class="m-margin-top-max" align="center">
  <a href="#" th:href="@{/}">
    <button type="button" class="ui teal button m-mobile-wide"><i class="home icon"></i>返回首页</button>
  </a>
</div>
<br>
<br>
<br>
<br>

  <div>
    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
    <div th:utext="'Exception message : ' + ${exception.message}" th:remove="tag"></div>
    <ul th:remove="tag">
      <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
    </ul>
    <div th:utext="'--&gt;'" th:remove="tag"></div>
  </div>

</body>


<script  th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script  th:src="@{/semantic/semantic.min.js}"></script>
<script  th:src="@{/qrcode/qrcode.min.js}"></script>
<script  th:src="@{/prism/prism.js}"></script>
<script  th:src="@{/tocbot/tocbot.min.js}"></script>
<script  th:src="@{/waypoints/jquery.waypoints.min.js}"></script>
<script  th:src="@/waypoints/jquery.waypoints.js}"></script>
<script>
    var index ;
    index = window.setInterval(function () {
        var sec = $("#sec").text();
        if(sec==0){
            window.clearInterval(index);
            window.history.back();
        }else{
            $("#sec").text(--sec);
        }
    },1000);

    new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if ('down' == direction) {
                $('#nav').show(10);
            } else {
                $('#nav').hide(100);
            }
            console.log('Scrolled to waypoint!  ' + direction);
        }
    });
</script>
</html>
