<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/reset.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/site.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/container.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/grid.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/header.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/image.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/menu.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/divider.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/segment.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/form.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/input.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/button.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/list.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/message.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/components/icon.min.css}">
    <link rel="stylesheet" th:href="@{/layui-v2.6.3/css/layui.css}" media="all">
    <script  th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script  th:src="@{/semantic/components/form.min.js}"></script>
    <script  th:src="@{/semantic/components/transition.min.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet"  th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet"  th:href="@{/css/me.css}">
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
</head>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                欢迎使用大站快车客流分析系统
            </div>
        </h2>
        <form class="ui large form" onsubmit=" return false">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" id="username" name="username" placeholder="用户名">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="envelope outline icon"></i>
                        <input type="text" id="email" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="ui fluid large teal submit button" id ="login-btn">立即注册</div>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            已有账号? <a th:href="@{/toLogin}">立即登录</a>
        </div>
    </div>
</div>
<script th:src="@{/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/jq-module/jquery.particleground.min.js}" charset="utf-8"></script>
<script type="text/javascript" charset="UTF-8">
    var layer = layui.layer;

    $("#login-btn").on("click",function () {
        let username = $("#username").val();
        let password = $("#password").val();
        let email = $("#email").val();
        $("#login-btn").attr("disabled", "disabled").addClass("layui-btn-disabled");
        console.log("DATA:"+JSON.stringify({"username":username,"password":password,"email":email}))
        if(username === '' || password === '' || email === ''){
            layer.alert("请完整填写表单",{icon:0})
            $("#login-btn").removeAttr("disabled", "disabled").removeClass("layui-btn-disabled");
            return false;
        }
        $.ajax({
            url: "/oauth/user/register",
            type: "POST",
            data: JSON.stringify({"username":username,"password":password,"email":email}),
            contentType: "application/json",
            resultType: "json",
            success: function (result) {
                console.log(result)
                console.log(result.statusCodeValue)
                if(result.statusCodeValue === 200){
                    $("#login-btn").removeAttr("disabled", "disabled").removeClass("layui-btn-disabled");
                    window.location.replace("/toLogin");
                }else {
                    $("#login-btn").removeAttr("disabled", "disabled").removeClass("layui-btn-disabled");
                    layer.alert(result.body,{icon:0})
                }

            },
            error: function (result) {
                console.log(result);
            },
        });
    });
</script>

</body>

</html>
